---
import { getCollection } from 'astro:content';

import background from '@assets/bestiary_back.jpg';

import Container from '@ui/Container.astro';
import Layout from 'src/layouts/Layout.astro';
import CreaturesList from '@widgets/CreaturesList.astro';
import Link from '@ui/Link.astro';
import Heading1 from '@ui/Heading1.astro';

export async function getStaticPaths() {
  const bestiary = await getCollection('bestiary');

  const uniqueTags = [
    ...new Set(bestiary.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredBestiary = bestiary.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredBestiary },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredBestiary = posts.filter((post) => post.data.tags?.includes(tag));
---

<Layout title={`Lovecraftium | ${tag}`}>
  <Container class="pt-12">
    <img
      class="pointer-events-none fixed inset-0 -z-20 h-full w-full object-cover opacity-30"
      alt=""
      fetchpriority="high"
      src={background.src}
    />
    <div
      class="animate-fade-down animate-delay-75 flex flex-wrap justify-between gap-4"
    >
      <Heading1>
        Бестиарий Лавкрафта - {tag}
      </Heading1>
      <Link
        variant={'secondary'}
        href="/bestiary"
        text="Назад"
        icon="arrow-left-line"
        class="flex-row-reverse gap-4"
      />
    </div>

    <CreaturesList data={filteredBestiary} />
  </Container>
</Layout>
