---
import Container from '@ui/Container.astro';
import { getCollection } from 'astro:content';

import background from '@assets/bestiary_back.jpg';

import Layout from 'src/layouts/Layout.astro';
import CreaturesList from '@widgets/CreaturesList.astro';

const bestiary = await getCollection('bestiary');
---

<Layout>
  <Container class="pt-12">
    <img
      class="pointer-events-none fixed inset-0 -z-20 h-full w-full object-cover opacity-30"
      alt=""
      fetchpriority="high"
      src={background.src}
    />
    <h1
      class="animate-fade-down animate-delay-75 text-2xl font-semibold sm:text-3xl lg:text-4xl"
    >
      Бестиарий Лавкрафта
    </h1>
    <h2
      class="animate-fade-down animate-delay-100 text-lg font-medium text-slate-200 sm:text-xl lg:text-2xl"
    >
      Исследуйте древних богов, монстров и ужасов вселенной Лавкрафта
    </h2>

    <CreaturesList data={bestiary} />
  </Container>
</Layout>
