---
import Badge from '@ui/Badge.astro';
import Card from '@ui/Card.astro';
import type { InferEntrySchema } from 'astro:content';
import CreatureCard from './CreatureCard.astro';
import type { Bestyary } from 'src/types';

interface Props {
  data: Bestyary[];
}

const { data } = Astro.props;
---

<div
  class="mt-8 grid grid-cols-1 gap-8 font-serif sm:grid-cols-[repeat(auto-fill,minmax(360px,1fr))]"
>
  {
    data.map((creature) => (
      <CreatureCard id={creature.id} data={creature.data} />
    ))
  }
</div>
