---
import heroBackground from '@assets/hero_back.jpg';
import image from '@assets/Cthulhu.jpg';

import Container from '@ui/Container.astro';
import Link from '@ui/Link.astro';
---

<div class="relative">
  <img
    class="pointer-events-none fixed inset-0 -z-10 h-full w-full object-cover opacity-30 blur-xl"
    src={heroBackground.src}
    alt=""
    fetchpriority="high"
  />

  <Container class="flex h-full items-center gap-8 py-4 font-serif">
    <div class="hidden w-1/3 shrink-0 md:block">
      <img
        class="animate-wiggle animate-duration-1000 pointer-events-none z-10 max-h-[50vh] rounded-full border border-slate-600 opacity-70 shadow"
        src={image.src}
        alt="Ктулху"
      />
    </div>

    <div class="animate-fade-down animate-delay-200 z-0 w-full">
      <h1 class="text-2xl font-semibold sm:text-3xl lg:text-4xl">
        Добро пожаловать в мир Г.Ф. Лавкрафта.
      </h1>
      <h2 class="text-lg font-medium text-slate-200 sm:text-xl lg:text-2xl">
        Погрузитесь в мифы, легенды и ужасы вселенной, созданной мастером
        хоррора.
      </h2>
      <nav class="mt-8">
        <ul class="flex flex-wrap gap-4">
          <li>
            <Link
              href={'/bestiary'}
              variant="primary"
              text="Исследовать бестиарий"
            />
          </li>
          <li><Link href={'/'} variant="primary" text="Смотреть локации" /></li>
        </ul>
      </nav>
    </div>
  </Container>
</div>
