---
import '@fontsource/crimson-text';
import '@fontsource/montserrat';
import '../styles/global.css';

import background from '../assets/Shiny Overlay.svg';

import Header from '@widgets/Header.astro';
import Footer from '@widgets/Footer.astro';
import { twMerge } from 'tailwind-merge';

interface Props {
  title?: string;
  centerContent?: boolean;
}

const { title = 'Lovecraftium', centerContent = false } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex min-h-screen flex-col">
      <img
        id="background"
        class="pointer-events-none fixed inset-0 -z-10 h-full w-full object-cover opacity-50 blur-2xl"
        src={background.src}
        alt=""
        fetchpriority="high"
      />
      <Header />
      <main
        class={twMerge(
          'flex-1 flex flex-col mt-20',
          centerContent ? 'justify-center' : ''
        )}
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
