---
import Layout from './Layout.astro';
import Container from '@ui/Container.astro';
import Heading1 from '@ui/Heading1.astro';

const { frontmatter } = Astro.props;
---

<Layout title={`Lovecraftium | ${frontmatter.title}`}>
  <Container class="pt-12">
    <Heading1 class="animate-fade-down animate-delay-100"
      >{frontmatter.title}</Heading1
    >
    <div
      class="prose prose-invert prose-slate animate-fade-down animate-delay-[400ms] mt-8 w-full"
    >
      <slot />
    </div>
  </Container>
</Layout>
