---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Variant = 'primary' | 'secondary' | 'text';

interface Props extends HTMLAttributes<'button'> {
  variant?: Variant;
  target?: string;
  text?: string;
  icon?: string;
  [key: string]: any;
}

const {
  variant = 'primary',
  target,
  text = Astro.slots.render('default'),
  icon = '',
  class: className = '',
  ...rest
} = Astro.props;

const variants: Record<Variant, string> = {
  primary: 'btn btn-primary',
  secondary: 'btn btn-secondary',
  text: 'link',
};
---

<button class={twMerge(variants[variant] || '', className)} {...rest}>
  <Fragment set:html={text} />
  {icon && <Icon name={icon} class="inline-block h-5 w-5" />}
</button>
