---
import { twMerge } from 'tailwind-merge';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<h1
  class={twMerge(
    'text-2xl font-semibold sm:text-3xl lg:text-4xl font-serif',
    className
  )}
>
  <slot />
</h1>
