---
import { twMerge } from 'tailwind-merge';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<h2
  class={twMerge(
    'text-lg font-medium text-slate-200 sm:text-xl lg:text-2xl font-serif',
    className
  )}
>
  <slot />
</h2>
